
.grid-timetable
    .timetable-list
        each obj in tt
            .timetale-box
                .timetable-title= obj.readabledate
                .titmetable-box-list
                    each c in obj.content
                        .timetalbe-item(class="tt-t"+c.type)
                            .tt-item-left
                                .tt-item-left-top= c.from
                                .tt-item-left-bot= c.to
                            .tt-item-right
                                .tt-item-teacher !{c.emoji} !{c.tsign} 
                                .tt-item-place !{c.place} <span>!{c.building}</span>
                            .tt-item-events
                            .tt-information
